/*
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
var(--tg-theme-secondary-bg-color)
*/
body {
    margin: 0;
    background: var(--tg-theme-bg-color);
    align-items: center;
}

.header-line {
    margin: 10px 10px;
}

.header-photo{
    display: flex;
}

.header-photo img {
    height: 40vh;
    width: auto;
    max-width: 100vw;
    margin-right: 10px;
    margin-bottom: 10px;
}

.button{
	background: var(--tg-theme-button-color);
	color: var(--tg-theme-button-text-color);
	border: none;
	font-size: 18px;
}

.button:not(:last-child){
	margin-bottom: 20px
}