body {
    margin: 0;
}

.header-line {
    margin: 10px 10px;
}

.header-photo{
    display: flex;
}

.header-photo img {
    height: 30vh;
    width: auto;
    max-width: 100vw;
    margin-right: 10px;
    margin-bottom: 10px;
}